body {
    font-family: "Montserrat";
    font-size: 0.9rem;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navigation {
  font-weight: 400;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 100%;
  /*background-color: #282A3A;*/
  background-color: #FFFFFF;
  text-align: center;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /*border: 5px solid #606C5D;*/
  border: 5px solid #586E72;
  overflow: hidden;
  margin: 50px auto 0;
}

/*
h4 {
    padding: 10px 0;
    color: #000;
}
*/

.social-button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 14px;
  padding-right: 14px;
  color: #000;
  padding-top: 10%;
}

.btn-outline-light {
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    margin: 10px 3px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.nav-anchor-container {
    padding: 25px 20px 25px 75px;
    font-size: 0.9rem;
    font-family: "Montserrat";
    text-align: left;
}

.nav-link {
    padding: 7px 0;
    color: #000;
}

.nav-link:hover {
    color: #586E72;
}

.btn {
    border-color: #7F8487;
}

.btn:hover {
    border-color: #000;
}

.sections {
    position: relative;
    left: 25%;
    width: 75%;
    background-color: #FFFFFF;
    color: #000;
}

#home {
    background-image: url('../images/1186.jpg');
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    padding: 29% 5%;
}

.notice {
    color: #000;
    font-size: 0.8rem;
}

.social-contact-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

#footer {
    position: relative;
    font-size: 0.8rem;
    left: 25%;
    width: 75%;
    color: #7D7463;
    margin-bottom: 0;
    padding-left: 5%;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    justify-content: left;
}

html {
    scroll-behavior: smooth;
}

.project-type {
    padding-bottom: 10px;
}

.card {
    background-color: #80A3A2;
    margin: 10px 0;
    margin-color: #839B97;
    color: #000;
}

.collapse {
    background-color: #FFFFFF;
}

.cover {
    position: relative;
    width: 100%;
}

.square-image {
    position: relative;
    width: 70%;
    left: 15%;
}


.attr {
    font-size: 0.8rem;
    color:#000;
}

.project-summary {
   color:#000;
}

.details-button-container {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
}

#contact {
    padding-bottom: 14%;
}

/*  media queries */

@media (max-width: 950px) {

    body{
        font-size: 0.8rem;
    }

    .navigation {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        text-align: center;
    }

    .nav-anchor-container {
        padding-left: 35%;
        padding-right: 35%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .notice {
        font-size: 0.8rem;
    }

    .content {
        padding: 50% 5%;
    }

    .sections {
        position: relative;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
        color: #000;
    }

    .skill {
        vertical-align: top;
    }

    .social-contact-buttons {
        width: 37px;
        height: 37px;
        padding: 7% 0;
        border-radius: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    #footer {
        position: relative;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
        color: #B2B2B2;
        margin-bottom: 0;
        padding-left: 12%;
        padding-right: 12%;
        padding-bottom: 20px;
        text-align: center;
    }
}



